@import url(../../style.css);
@import url(../home-page/home-page-styles.css);
@import url(../detailed-page/detailed-page-styles.css);

:root {

}

html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titles {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.regular-text-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.regular-text-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.regular-text-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.regular-text-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.regular-text-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.regular-text-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.regular-text-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.regular-text-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

ul {
    list-style-type: none;
}

.icon {
    width: 1rem;
    height: auto;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}

.filters-and-products-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.filters-and-products-container .filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: auto;
}

.filters-and-products-container .products-container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-container div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.filter-container h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.filter-container h5:first-child{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-top: 20px;
    filter: unset;
}

.clothes-selections div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.clothes-selections h5 {
    filter: opacity(0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clothes-selections h5:first-child img {
    width: 24px;
    height: auto;
}

.clothes-selections h5:not(:first-child) img {
    width: 16px;
    height: auto;
}

.price-rage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.price-rage-container h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.price-rage-container > img {
    width: 100%;
    height: auto;
}

.color-options-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.color-options-filter h5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.color-options-filter div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    width: 100%;
    height: auto;
    place-items: center;
}

.color-options-filter div img {
    width: 37px;
    height: auto;
}

.sizes-selections {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: auto;
}

.sizes-selections h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.sizes-selections h5:not(:first-child) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 10px 10px;
    padding: 10px 10px;
}

.sizes-selections div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    grid-gap: 8px;
}

.sizes-selections div button {
    width: 92px;
    height: 36px;
    border: unset;
    border-radius: 62px;
    filter: opacity(0.6);
}

.sizes-selections div button:nth-child(5) {
    background-color: black;
    color: white;
    filter: unset;
}

.style-selector {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.style-selector h5:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.style-selector h5:not(:first-child) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    filter: opacity(0.6);
}

.apply-filter-button {
    width: 247px;
    height: 48px;
    border: unset;
    border-radius: 62px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.products-selector-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-row-gap: 30px;
    width: 100%;
    height: auto;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 50px;
}

.products-container .type-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.products-container .type-container h3:nth-child(1) {
    font-size: 1.9rem;
}

.products-container .type-container > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.products-container .type-container > div > h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    filter: opacity(0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.type-container > div .without-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: unset;
}

.type-container > div .without-filter h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    cursor: pointer;
}

.next-pages-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.previous-button,
.next-button {
    border: unset;
    border-radius: 8px;
    width: 108px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.next-pages-container .next-pages-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.next-pages-container .next-pages-options button {
    width: 40px;
    height: 40px;
    border: unset;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.carouse-item h3,
.carouse-item h4 {
    margin: 5px 0;
}

.carouse-item h4 {
    font-size: 1.5rem;
}

.carouse-item h3 {
    font-size: 1.4rem;
}
